@font-face {
  font-family: ballpark;
  src: url(/style/polices/ballpark.eot) format("eot"),
    url(/style/polices/ballpark.svg) format("svg"),
    url(/style/polices/ballpark.ttf) format("ttf"),
    url(/style/polices/ballpark.woff) format("woff");
}

@font-face {
  font-family: dayrom;
  src: url(/style/polices/dayrom.eot) format("eot"),
    url(/style/polices/dayrom.svg) format("svg"),
    url(/style/polices/dayrom.ttf) format("ttf"),
    url(/style/polices/dayrom.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
nav li {
  font-family: dayrom;
}
li {
  cursor: pointer;
}

body {
  width: 100%;
  max-width: 980px;
  background: url("/style/img/fond_jaune.png");
  padding: 1em;
  margin: auto;
}
P {
  font-size: 0.8em;
  text-align: justify;
}

.separator {
  width: 100%;
  height: 1em;
  background: url("/style/img/separateur.png") repeat-x bottom;
  top: 1em;
}
.shadow {
  width: 100%;
  height: 1em;
  margin-top: -2px;
  background: url("/style/img/ombre.png") repeat-x bottom;
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  position: relative;
  .logo p {
    font-family: ballpark;
    font-size: 2em;
  }
  h1 {
    margin-top: -10px;
    font-size: 1.05em;
  }
}

nav ul {
  list-style: none;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  li {
    margin-left: 1em;
    &:hover {
      color: #8c2522;
      border-bottom: 3px solid #8c2522;
    }
  }
}

.banniere {
  margin: 1em 0;
  width: 100%;
  position: relative;
  img {
    border-radius: 10px;
    width: 100%;
  }
  .legende {
    background: rgba($color: black, $alpha: 0.6);
    padding: 0.5em;
    border-radius: 0 0 10px 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 2.5em;
    width: 100%;
    bottom: 0.1em;
  }
  button {
    background: url("/style/img/fond_degraderouge.png");
    color: white;
    padding: 0.5em 0.8em;
    border-radius: 5px;
    border: none;
    img {
      height: 11px;
      width: 7px;
    }
  }
}

section {
  display: flex;
  article {
    width: 100%;
  }
  .title {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-items: center;
    font-size: 0.8em;
    h2 {
      margin-left: 0.6em;
    }
  }
  P {
    padding: 1em 1em 1em 0;
  }
  em {
    color: #8c2522;
    text-decoration: underline;
    font-weight: bold;
    font-style: normal;
  }
  aside {
    background: #6e6963;
    color: white;
    width: 40%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    position: relative;
    &::before {
      content: url(/style/img/bulle.png);
      position: absolute;
      left: -0.75em;
      top: 8em;
    }
    h3 {
      font-size: 1em;
      margin: 0.5em;
      text-transform: uppercase;
      font-weight: normal;
    }
    p {
      padding-left: 1em;
    }
    .reseau {
      padding: 0.4em;
    }
  }
}

.section_separator2 {
  position: relative;
  img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
}

footer {
  display: flex;
  justify-content: space-between;
  div {
    width: 33%;
  }
  h3 {
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 1em 0 1em;
  }
  p {
    margin-bottom: 1em;
  }
  .list {
    display: flex;
    width: 100%;
    padding: 0 1em;
    justify-content: space-between;
    font-size: 0.8em;
    ul {
      list-style: url("/style/img/ico_liensexterne.png");
      color: #8c2522;
    }
  }
}
